<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.gonzaga.ciphermachine"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cs.gonzaga.ciphermachine.InputText"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cs.gonzaga.ciphermachine.OutputText"
            android:label="@string/title_activity_output_text" >
        </activity>
        <activity
            android:name="cs.gonzaga.ciphermachine.CipherListActivity"
            android:label="@string/title_cipher_list"
            android:parentActivityName="cs.gonzaga.ciphermachine.InputText" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.gonzaga.ciphermachine.InputText" />
        </activity>
        <activity
            android:name="cs.gonzaga.ciphermachine.CipherDetailActivity"
            android:label="@string/title_cipher_detail"
            android:parentActivityName=".CipherListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CipherListActivity" />
        </activity>
        <activity
            android:name="cs.gonzaga.ciphermachine.CipherSelector"
            android:label="@string/title_activity_cipher_selector"
            android:parentActivityName="InputText" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="InputText" />
        </activity>
        <activity
            android:name="cs.gonzaga.ciphermachine.ciphers.CaesarShiftActivity"
            android:label="@string/title_activity_caesar_shift" >
        </activity>
    </application>

</manifest>