<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.gonzaga.ciphermachine"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cs.gonzaga.ciphermachine.InputText"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cs.gonzaga.ciphermachine.OutputText"
            android:label="@string/title_activity_output_text" >
        </activity>
        <activity
            android:name="cs.gonzaga.ciphermachine.CipherSelector"
            android:label="@string/title_activity_cipher_selector"
            android:parentActivityName="InputText" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="InputText" />
        </activity>
        <activity
            android:name="cs.gonzaga.ciphermachine.ciphers.CaesarShiftActivity"
            android:label="@string/title_activity_caesar_shift" >
        </activity>
        <activity
            android:name="cs.gonzaga.ciphermachine.ChooseInputType"
            android:label="@string/title_activity_choose_input_type" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cs.gonzaga.ciphermachine.ciphers.ShiftedCaesarsBoxActivity"
            android:label="@string/title_activity_shifted_caesars_box"
            android:parentActivityName="cs.gonzaga.ciphermachine.CipherSelector" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.gonzaga.ciphermachine.CipherSelector" />
        </activity>
        <activity
            android:name="cs.gonzaga.ciphermachine.ciphers.RailFenceActivity"
            android:label="@string/title_activity_rail_fence"
            android:parentActivityName="cs.gonzaga.ciphermachine.CipherSelector" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.gonzaga.ciphermachine.CipherSelector" />
        <activity
            android:name="cs.gonzaga.ciphermachine.TakePhotoActivity"
            android:label="@string/title_activity_take_photo" >
        </activity>
        <activity
            android:name="cs.gonzaga.ciphermachine.PhotoAndOCRActivity"
            android:label="@string/title_activity_photo_and_ocr" >
        </activity>
    </application>
    
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

</manifest>